@charset "UTF-8";
@import "common_mixin";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Microsoft Yahei';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

/*头部*/
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 20px;
  z-index: 50;

  /*菜单栏*/
  #menu {
    width: 540px;
    height: 40px;
    margin: 0 auto;
    li {
      float: left;
      a {
        display: block;
        margin: 0 25px;
        line-height: 40px;
        color: #fff;
        font-size: 16px;

      }
    }

    /*当前的菜单栏页*/
    .active {

      a {
        //background-color: darkred;
        border-bottom: 2px solid white;
        transition: 0.6s;
      }
    }
  }
}

$basic-info-height: 480px;
$transition-delay: 0.5s;
/*中间主要内容*/
#main {

  /*公共区*/
  .section {
    overflow: hidden;

    h1 {
      font-size: 32px;
      color: white;
      margin: 12px auto;
    }

    h2 {
      font-size: 20px;
      color: #105752;
    }
  }
}

/*公共区每一页内容的盒子*/
.box {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: table;

  .tb-cell {
    display: table-cell; /*span内部的内容就相当于表格*/
    vertical-align: middle; /*vertical-align属性来对齐其中的内容*/
    text-align: center;
    .bg-icon {
      float: left;
      display: inline-block;
      width: 80px;
    }

    ul {
      margin: 15px auto;

      li {
        margin: 10px auto;
        color: #f7f7f7;
        a {
          color: #f7f7f7;
        }
        span {
          float: left;
        }
        //循环遍历每个背景图标
        $contact: phone, email, weixin, github, location, degree, university, major, award-list, position, resume-icon, game, myslider, house;
        @each $contact-style in $contact {
          .#{$contact-style} {
            background: url("../img/#{$contact-style}.png") no-repeat center;
          }
        }
      }
    }
  }
}

//公共区每一页下的ul样式
@mixin ul-list-style($ul-width, $li-height, $bg-icon-height,$font-size) {
  ul {
    width: $ul-width;
    font-size: $font-size;
    li {
      height: $li-height;
      line-height: $li-height;
    }
  }
  .bg-icon {
    height: $bg-icon-height;
  }
}

/*第一页*/
@-webkit-keyframes photo {
  0% {
    @include transform(rotate(0deg))
  }
  100% {
    @include transform(rotate(360deg))
  }
}

@keyframes photo {
  0% {
    @include transform(rotate(0deg))
  }
  100% {
    @include transform(rotate(360deg))
  }
}

.s1 {
  /*首页*/
  .box {
    padding-top: 40px;
  }
  .home {
    @include ul-list-style(300px, 25px, 25px, 15px);
    ul {
      padding-left: 50px;
      text-align: left;
    }
  }
  /*我的头像*/
  .my-photo {
    margin: 10px auto;
    text-align: center;
    @include opacity(0);
    @include transform(scale(0.01));
    @include transition(1s);

    img {
      width: 165px;
      height: 165px;
      border-radius: 50%;
      transition: 0.5s;
      &:hover {
        @include transform(scale(1.2));
        @include transform(translateY(-5px));
        @include transition(0.5s);
        box-shadow: 0 0 5px 5px rgba(204, 204, 204, 0.7);
      }
    }
  }
  @at-root                        //跳出.s1这一嵌套层
    /*第一页为当前页*/
  .s1.active {
    .my-photo {
      @include opacity(1);
      @include transform(scale(1))
    }
  }
}

/*第二页弹性动画*/
/*定义时间帧*/

@-webkit-keyframes move {
  0% {
    @include transform(translateY(-1000px))
  }
  40% {
    @include transform(translateY(60px))
  }
  60% {
    @include transform(translateY(0px))
  }
  100% {
    @include transform(translateY( 20px))
  }
 /* 100% {
    @include transform(translateY( 0px))
  }*/
}

@keyframes move {
  0% {
    @include transform(translateY(-1000px))
  }
  40% {
    @include transform(translateY(60px))
  }
  60% {
    @include transform(translateY(0px))
  }
  100% {
    @include transform(translateY( 20px))
  }
  /*100% {
    @include transform(translateY( 0px))
  }*/
}



.s2 {
  ul#skill-tip {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    @include transform(translateY(-1000px));
    li {
      display: block;
      float: left;
      width: 100%;
      height: 18px;
      line-height: 18px;
      margin: 18px auto;
      label.skill-name {
        float: left;
        font-size: 16px;
        font-weight: bold;
        color: #3f3f5f;
        width: 65px;
        text-align: left;
      }
      span.skill-wrap {
        position: relative;
        float: left;
        width: 85%;
        height: 100%;
        border-radius: 15px;
        background-color: #53537E;
        margin-left: 30px;
        span.skill-bar {
          position: absolute;
          top: 0;
          left: 0;
          background-color: #ddd;
          height: 100%;
          border-radius: 15px 0 0 15px;
        }
      }

    }
  }
  @at-root
  .s2.active {
    ul {
      @include animation(move 1.5s $transition-delay forwards)
    }
  }

}


/*第三页*/
.s3 {
  .experience-box {
    width: 80%;
    text-align: center;
  }

  ul.experience-info {
    width: 20%;
    float: left;
    padding: 0 25px;
    transform: translateY(1000px);

    li {
      display: list-item;
      text-align: center;

      i.experience-icon {
        display: block;
        width: 100%;
        height: 120px;
      }

      &:first-child {
        @include transform(rotate(0deg));
        @include transition(0.6s);
        &:hover {
          @include transform(rotate(360deg));
        }
      }
      &:nth-child(2) {
        a {
          font-size: 26px;
          font-weight: bold;
          color: #007967;
          @include transition(0.8s);
          &:hover {
            color: #00463c;
          }
        }

      }
      &:nth-child(3) {
        text-align: left;
        padding-top: 10px;
        color: #d9f1ed;
      }
    }

  }

  @at-root
  .s3.active {
    ul {
      /*transform: translateX(0);
      transition: 0.8s 0.5s;*/
      transform: translateY(0);
      transition: 0.8s;
      &:nth-child(1) {
        transition-delay: $transition-delay;
      }
      &:nth-child(2) {
        transition-delay: $transition-delay * 1.2;
      }
      &:nth-child(3) {
        transition-delay: $transition-delay * 1.4;
      }
      &:nth-child(4) {
        transition-delay: $transition-delay * 1.6;
      }

    }

  }
}

/*第五页*/
.s5 {
  .education {
    float: left;
    @include ul-list-style(250px, 35px, 35px, 17px);
    @include transform(translateX(-1000px)); //文字由左向中间滑动
    h1 {
      padding-left: 50px;
    }
  }
  .award {
    float: right;
    @include ul-list-style(400px, 35px, 35px, 17px);
    @include transform(translateX(1000px)); //文字由右向中间滑动
    li {
      width: 300px;
    }
  }
  .download-resume{
    text-align: center;
    padding-top: 60px;
    @include transform(translateY(1000px)); //文字由右向中间滑动
    a{
     color: #00442d;
     font-size: 26px;
     font-weight: bold;
     transition: 1s;
      &:hover{
        color: #ffffff;
      }
    }
  }

  @at-root
  .s5.active {
    .box div {
      @include transform(translateX(0));
      @include transition(1s);
      &:nth-child(1) {
        transition-delay: $transition-delay*0.6;
      }
      &:nth-child(2) {
        transition-delay: $transition-delay*1.5;
      }

    }
    .download-resume{
      @include transform(translateY(0));
      @include transition(1s);
      transition-delay: $transition-delay*1.5;
    }
  }
;
}

/*第四页*/
.s4.section {
  .internships{
    width:50%;
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    h3{
      color: #e5eef6;
      margin: 10px auto;
    }
    h4{
      font-size: 22px;
      color: #e5eef6;
      font-weight: normal;
      margin:2px auto;
    }
    h5{
      color: #e5eef6;
      font-size: 20px;
      font-weight: normal;
      padding-bottom: 15px;
    }
    p{
      text-align: left;
      font-size: 18px;
      color: #cde;
      margin:5px auto;;
    }
  }
}

@media screen and (max-width: 1255px) {
  /*项目经验*/
  .section.s3 {
    ul.experience-info {
      padding: 0 18px;
      li:nth-child(2) {
        a {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  /*专业技能*/
  .s2 {
    ul#skill-tip {
      width: 70%;
      li {
        width: 100%;
        span.skill-wrap {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 908px) {

  /*项目经验*/
  .section.s3 {
    .box {
      padding-top: 40px;
    }
    ul.experience-info {
      width: 38%;
      padding: 0 6%;
      margin: 0;
      &:nth-child(3) {
        clear: both;
      }
      li {
        margin: 5px auto;
      }
      li:first-child {
        i.experience-icon {
          height: 100px;
          background-size: 100px;
        }
      }
      li:nth-child(2) {
        a {
          font-size: 20px;
        }
      }
      li:nth-child(3) {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  /*头部菜单栏*/
  header #menu {
    width: 438px;
    li a {
      margin: 0 15px;
      font-size: 16px;
    }
  }

  /*专业技能*/
  .s2 {
    ul#skill-tip {
      width: 70%;
      li {
        width: 100%;
        span.skill-wrap {
          width: 70%;
        }
      }
    }
  }

  /*教育背景*/
  #main .section.s5 h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 650px) {
  /*教育背景*/
  #main .section.s5 h1 {
    font-size: 24px;
  }
  .section.s5 {
    .award ul {
      width: 300px;
    }
    span {
      font-size: 14px;
    }
  }

  /*实习经历*/
  .s4.section {
    .internships{
      width:60%;
      h3{
        font-size: 26px;
      }
      h4{
        font-size: 20px;
      }
      h5{
        font-size: 18px;
      }
      p{
        font-size: 16px;
      }
    }
  }

}

@media screen and (max-width: 555px) {
  .section.s3 {

    .experience-box {
      width: 80%;
    }
    .box {
      padding-top: 20px;
    }
    ul.experience-info {
      display: block;
      width: 100%;
      padding: 1% 0;
      li {
        margin: 1% auto;
      }
      li:first-child {
        width: 50px;
        float: left;
        i.experience-icon {
          height: 50px;
          background-size: 50px;
        }
      }
      li:nth-child(2) {
        float: left;
        line-height: 50px;
        padding-left: 20px;
        a {
          font-size: 18px;
        }
      }
      li:nth-child(3) {
        clear: both;
        font-size: 14px;
        padding-left: 5px;
        padding-top: 5px;
      }
    }
  }

  /*教育背景*/
  .section.s5 {
    .award ul {
      width: 280px;
    }
    .education
    h1 {
      padding-left: 80px;
    }
    ul {
      width: 200px;
    }
    span {
      font-size: 13px;
    }
  }

}

@media screen and (max-width: 480px) {

  /*头部导航栏*/
  header #menu {
    width: 332px;
    li a {
      height: 30px;
      line-height: 30px;
      margin: 0 8px;
      font-size: 14px;
    }
  }

  /*专业技能*/
  .s2 {
    ul#skill-tip {
      width: 78%;
      li {
        width: 100%;
        height: 15px;
        line-height: 15px;
        margin: 15px auto;
        span.skill-wrap {
          width: 70%;
          margin-left: 22px;
        }
      }
    }
  }

  /*教育背景*/
  #main .section.s5 {
    .box .tb-cell
    .bg-icon{
      width: 60px;
      background-size: 25px;
    }
    ul {
      margin: 3px auto;
      li {
        display: block;
        margin: 3px auto;
      }
    }

    h1 {
      font-size: 18px;
      font-weight: bold;
    }
  }
  /*个人信息*/
  .section.s5 {
    .box {
      padding-top: 30px;
      div {
        margin: 5px auto;
        clear: both;
      }
    }
    .award ul {
      width: 200px;
    }
    .education h1 {
      padding-left: 0;
    }
    .download-resume{
      padding-top: 40px;
      a{
        font-size: 20px;
      }
    }
  }
}
//iphone6 plus
@media screen and(max-width: 420px) {

  /*实习经历*/
  .s4.section {
    .internships{
      width:70%;
      h3{
        font-size: 24px;
      }
      h4{
        font-size: 18px;
      }
      h5{
        font-size: 16px;
      }
      p{
        font-size: 14px;
      }
    }
  }

}
//iphone6
@media screen and (max-width: 375px) {

  /*头部*/
  header{
    top:10px;
    #menu li a{
      height: 28px;
      line-height: 28px;
    }
  }
  /*背景图标*/
  #main .box .tb-cell ul {
    margin: 2px auto;
    li .bg-icon {
      width: 50px;
      background-size: 40%;
    }
  }
  /*首页*/
  .s1 {
    ul.contact {
      width: 220px;
      padding-left: 30px;
    }
    .my-photo {
      margin: 5px auto;
      img {
        width: 120px;
        height: 120px;
      }
    }
    .home
    ul {
      font-size: 13px;
      li {
        height: 25px;
        line-height: 25px;
      }
    }

  }
  #main .section {
    h1 {
      font-size: 26px;
      margin: 5px auto;
    }
    h2 {
      font-size: 18px;
    }
  }

  /*专业技能*/
  .s2 {
    ul#skill-tip {
      width: 80%;
      li {
        width: 100%;
        label.skill-name {
          font-size: 14px;
        }
        span.skill-wrap {
          width: 65%;
          margin-left: 12px;
        }
      }
    }
  }
  /*项目经验*/
  .section.s3 {
    .experience-box {
      width: 80%;
    }
    .box {
      padding-top: 25px;
    }
    ul.experience-info {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        margin: 1% auto;
      }
      li:first-child {
        width: 30px;
        float: left;
        i.experience-icon {
          height: 30px;
          background-size: 30px;
        }
      }
      li:nth-child(2) {
        float: left;
        line-height: 30px;
        padding-left: 20px;
        a {
          font-size: 16px;
        }
      }
      li:nth-child(3) {
        clear: both;
        font-size: 12px;
        padding-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 345px) {
  #main .box .tb-cell ul {
    margin: 2px auto;
  }
  /*头部菜单栏*/
  header #menu {
    width: 302px;
    li a {
      margin: 0 5px;
      font-size: 14px;
    }
  }
  #main .section h1 {
    font-size: 24px;
  }

  /*首页*/
  .section.s1 {
    .my-photo {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  /*专业技能*/
  .s2 {
    ul#skill-tip {
      li {
        height: 13px;
        line-height: 13px;
        margin: 10px auto;
      }
    }
  }

  /*项目经验*/
  .section.s3 ul.experience-info {
    li {
      font-size: 12px;
      &:nth-child(2) {
        a {

          font-size: 14px;
        }
      }
      &:nth-child(3) {
        padding-top: 0;
      }
    }
  }

  /*工作经历*/
  .s4.section {
    .internships{
      width:72%;
      h3{
        font-size: 20px;
      }
      h4{
        font-size: 15px;
      }
      h5{
        font-size: 14px;
      }
      p{
        font-size: 12px;
      }
    }
  }
  /*个人信息*/
  .section.s5{
    .download-resume{
      padding-top: 10px;
      a{
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  #main .section {
    overflow: scroll;
    min-width: 300px;
  }
  /*头部菜单栏*/
  header #menu {
    width: 280px;
    li a {
      margin: 0 4px;
      font-size: 12px;
    }
  }
  /*首页*/
  /*背景图标*/
  #main .box .tb-cell ul {
    margin: 2px auto;
    li .bg-icon {
      width: 40px;
      height: 20px;
    }
  }
  .s1 {
    ul.contact {
      width: 220px;
      padding-left: 40px;
    }
    .my-photo {
      margin: 5px auto;
      img {
        width: 100px;
        height: 100px;
      }
    }
    .home ul {
      font-size: 12px;
      li {
        height: 18px;
        line-height: 18px;
      }
    }

  }
  #main .section {
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 15px;
    }
  }

  /*项目经验*/
  .section.s3 ul.experience-info {
    li:first-child {
      width: 25px;
      float: left;
      i.experience-icon {
        height: 25px;
        background-size: 25px;
      }
    }
    li:nth-child(2) {
      float: left;
      line-height: 25px;
      padding-left: 20px;
      a {
        font-size: 13px;
      }
    }
    &:nth-child(3) {
      padding-top: 0;
    }
  }
  /*个人信息*/
  #main .section.s5 {
    .box .tb-cell
    .bg-icon{
      width: 60px;
      background-size: 20px;
    }}
  .section.s5{
    .download-resume{
      padding-top: 5px;
      a{
        font-size: 16px;
      }
    }

  }
  .s5 .education ul li , .s5 .award ul li{
    height: 25px;
    line-height: 25px;
  }

  #main .section.s5 h1{
    font-size: 16px;
  }

}


