@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font-family: Lato, 'Microsoft Yahei'; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

/*头部*/
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 20px;
  z-index: 50;
  /*菜单栏*/ }
  header #menu {
    width: 540px;
    height: 40px;
    margin: 0 auto;
    /*当前的菜单栏页*/ }
    header #menu li {
      float: left; }
      header #menu li a {
        display: block;
        margin: 0 25px;
        line-height: 40px;
        color: #fff;
        font-size: 16px; }
    header #menu .active a {
      border-bottom: 2px solid white;
      transition: 0.6s; }

/*中间主要内容*/
#main {
  /*公共区*/ }
  #main .section {
    overflow: hidden; }
    #main .section h1 {
      font-size: 32px;
      color: white;
      margin: 12px auto; }
    #main .section h2 {
      font-size: 20px;
      color: #105752; }

/*公共区每一页内容的盒子*/
.box {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: table; }
  .box .tb-cell {
    display: table-cell;
    /*span内部的内容就相当于表格*/
    vertical-align: middle;
    /*vertical-align属性来对齐其中的内容*/
    text-align: center; }
    .box .tb-cell .bg-icon {
      float: left;
      display: inline-block;
      width: 80px; }
    .box .tb-cell ul {
      margin: 15px auto; }
      .box .tb-cell ul li {
        margin: 10px auto;
        color: #f7f7f7; }
        .box .tb-cell ul li a {
          color: #f7f7f7; }
        .box .tb-cell ul li span {
          float: left; }
        .box .tb-cell ul li .phone {
          background: url("../img/phone.png") no-repeat center; }
        .box .tb-cell ul li .email {
          background: url("../img/email.png") no-repeat center; }
        .box .tb-cell ul li .weixin {
          background: url("../img/weixin.png") no-repeat center; }
        .box .tb-cell ul li .github {
          background: url("../img/github.png") no-repeat center; }
        .box .tb-cell ul li .location {
          background: url("../img/location.png") no-repeat center; }
        .box .tb-cell ul li .degree {
          background: url("../img/degree.png") no-repeat center; }
        .box .tb-cell ul li .university {
          background: url("../img/university.png") no-repeat center; }
        .box .tb-cell ul li .major {
          background: url("../img/major.png") no-repeat center; }
        .box .tb-cell ul li .award-list {
          background: url("../img/award-list.png") no-repeat center; }
        .box .tb-cell ul li .position {
          background: url("../img/position.png") no-repeat center; }
        .box .tb-cell ul li .resume-icon {
          background: url("../img/resume-icon.png") no-repeat center; }
        .box .tb-cell ul li .game {
          background: url("../img/game.png") no-repeat center; }
        .box .tb-cell ul li .myslider {
          background: url("../img/myslider.png") no-repeat center; }
        .box .tb-cell ul li .house {
          background: url("../img/house.png") no-repeat center; }

/*第一页*/
@-webkit-keyframes photo {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes photo {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.s1 {
  /*首页*/
  /*我的头像*/ }
  .s1 .box {
    padding-top: 40px; }
  .s1 .home ul {
    width: 300px;
    font-size: 15px; }
    .s1 .home ul li {
      height: 25px;
      line-height: 25px; }
  .s1 .home .bg-icon {
    height: 25px; }
  .s1 .home ul {
    padding-left: 50px;
    text-align: left; }
  .s1 .my-photo {
    margin: 10px auto;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -o-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transiton: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .s1 .my-photo img {
      width: 165px;
      height: 165px;
      border-radius: 50%;
      transition: 0.5s; }
      .s1 .my-photo img:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transiton: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        box-shadow: 0 0 5px 5px rgba(204, 204, 204, 0.7); }
  .s1.active .my-photo {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

/*第二页弹性动画*/
/*定义时间帧*/
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
    transform: translateY(-1000px); }
  40% {
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px); }
  60% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  /* 100% {
     @include transform(translateY( 0px))
   }*/ }
@keyframes move {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
    transform: translateY(-1000px); }
  40% {
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px); }
  60% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  /*100% {
    @include transform(translateY( 0px))
  }*/ }
.s2 ul#skill-tip {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(-1000px);
  -moz-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  -o-transform: translateY(-1000px);
  transform: translateY(-1000px); }
  .s2 ul#skill-tip li {
    display: block;
    float: left;
    width: 100%;
    height: 18px;
    line-height: 18px;
    margin: 18px auto; }
    .s2 ul#skill-tip li label.skill-name {
      float: left;
      font-size: 16px;
      font-weight: bold;
      color: #2d3d61;
      width: 65px;
      text-align: left; }
    .s2 ul#skill-tip li span.skill-wrap {
      position: relative;
      float: left;
      width: 85%;
      height: 100%;
      border-radius: 15px;
      background-color: #354873;
      margin-left: 30px; }
      .s2 ul#skill-tip li span.skill-wrap span.skill-bar {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ddd;
        height: 100%;
        border-radius: 15px 0 0 15px; }
.s2.active ul {
  -webkit-animation: move 1.5s 0.5s forwards;
  -moz-animation: move 1.5s 0.5s forwards;
  -ms-animation: move 1.5s 0.5s forwards;
  -o-animation: move 1.5s 0.5s forwards;
  animation: move 1.5s 0.5s forwards; }

/*第三页*/
.s3 .experience-box {
  width: 80%;
  text-align: center; }
.s3 ul.experience-info {
  width: 20%;
  float: left;
  padding: 0 25px;
  transform: translateY(1000px); }
  .s3 ul.experience-info li {
    display: list-item;
    text-align: center; }
    .s3 ul.experience-info li i.experience-icon {
      display: block;
      width: 100%;
      height: 120px; }
    .s3 ul.experience-info li:first-child {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.6s;
      -moz-transition: 0.6s;
      -ms-transiton: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s; }
      .s3 ul.experience-info li:first-child:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg); }
    .s3 ul.experience-info li:nth-child(2) a {
      font-size: 26px;
      font-weight: bold;
      color: #007967;
      -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -ms-transiton: 0.8s;
      -o-transition: 0.8s;
      transition: 0.8s; }
      .s3 ul.experience-info li:nth-child(2) a:hover {
        color: #00463c; }
    .s3 ul.experience-info li:nth-child(3) {
      text-align: left;
      padding-top: 10px;
      color: #d9f1ed; }
.s3.active ul {
  /*transform: translateX(0);
  transition: 0.8s 0.5s;*/
  transform: translateY(0);
  transition: 0.8s; }
  .s3.active ul:nth-child(1) {
    transition-delay: 0.5s; }
  .s3.active ul:nth-child(2) {
    transition-delay: 0.6s; }
  .s3.active ul:nth-child(3) {
    transition-delay: 0.7s; }
  .s3.active ul:nth-child(4) {
    transition-delay: 0.8s; }

/*第五页*/
.s5 .education {
  float: left;
  -webkit-transform: translateX(-1000px);
  -moz-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  -o-transform: translateX(-1000px);
  transform: translateX(-1000px); }
  .s5 .education ul {
    width: 250px;
    font-size: 17px; }
    .s5 .education ul li {
      height: 35px;
      line-height: 35px; }
  .s5 .education .bg-icon {
    height: 35px; }
  .s5 .education h1 {
    padding-left: 50px; }
.s5 .award {
  float: right;
  -webkit-transform: translateX(1000px);
  -moz-transform: translateX(1000px);
  -ms-transform: translateX(1000px);
  -o-transform: translateX(1000px);
  transform: translateX(1000px); }
  .s5 .award ul {
    width: 400px;
    font-size: 17px; }
    .s5 .award ul li {
      height: 35px;
      line-height: 35px; }
  .s5 .award .bg-icon {
    height: 35px; }
  .s5 .award li {
    width: 300px; }
.s5 .download-resume {
  text-align: center;
  padding-top: 60px;
  -webkit-transform: translateY(1000px);
  -moz-transform: translateY(1000px);
  -ms-transform: translateY(1000px);
  -o-transform: translateY(1000px);
  transform: translateY(1000px); }
  .s5 .download-resume a {
    color: #00442d;
    font-size: 26px;
    font-weight: bold;
    transition: 1s; }
    .s5 .download-resume a:hover {
      color: #ffffff; }
.s5.active .box div {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transiton: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .s5.active .box div:nth-child(1) {
    transition-delay: 0.3s; }
  .s5.active .box div:nth-child(2) {
    transition-delay: 0.75s; }
.s5.active .download-resume {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transiton: 1s;
  -o-transition: 1s;
  transition: 1s;
  transition-delay: 0.75s; }

/*第四页*/
.s4.section .internships {
  width: 550px;
  margin: 0 auto;
  /*每项实习经历*/
  /*公司名*/
  /*职位和工作时间*/
  /*工作内容*/ }
  .s4.section .internships .internships-list {
    margin: 20px auto; }
  .s4.section .internships .company-name {
    font-size: 24px;
    color: #ffffff;
    margin: 2px auto; }
  .s4.section .internships .work-pos-time {
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 15px 0; }
    .s4.section .internships .work-pos-time .work-time {
      float: right; }
  .s4.section .internships .work-content {
    color: #e2f1f6; }
    .s4.section .internships .work-content dt {
      font-size: 18px; }
    .s4.section .internships .work-content dd {
      font-size: 16px;
      margin: 3px auto;
      /*重要内容*/ }
      .s4.section .internships .work-content dd .important-txt {
        color: #235c6e; }

@media screen and (max-width: 1255px) {
  /*项目经验*/
  .section.s3 ul.experience-info {
    padding: 0 18px; }
    .section.s3 ul.experience-info li:nth-child(2) a {
      font-size: 22px; } }
@media screen and (max-width: 1080px) {
  /*专业技能*/
  .s2 ul#skill-tip {
    width: 70%; }
    .s2 ul#skill-tip li {
      width: 100%; }
      .s2 ul#skill-tip li span.skill-wrap {
        width: 80%; } }
@media screen and (max-width: 908px) {
  /*项目经验*/
  .section.s3 .box {
    padding-top: 40px; }
  .section.s3 ul.experience-info {
    width: 38%;
    padding: 0 6%;
    margin: 0; }
    .section.s3 ul.experience-info:nth-child(3) {
      clear: both; }
    .section.s3 ul.experience-info li {
      margin: 5px auto; }
    .section.s3 ul.experience-info li:first-child i.experience-icon {
      height: 100px;
      background-size: 100px; }
    .section.s3 ul.experience-info li:nth-child(2) a {
      font-size: 20px; }
    .section.s3 ul.experience-info li:nth-child(3) {
      font-size: 15px; } }
@media screen and (max-width: 700px) {
  /*头部菜单栏*/
  header #menu {
    width: 438px; }
    header #menu li a {
      margin: 0 15px;
      font-size: 16px; }

  /*专业技能*/
  .s2 ul#skill-tip {
    width: 70%; }
    .s2 ul#skill-tip li {
      width: 100%; }
      .s2 ul#skill-tip li span.skill-wrap {
        width: 70%; }

  /*教育背景*/
  #main .section.s5 h1 {
    font-size: 26px; } }
@media screen and (max-width: 650px) {
  /*教育背景*/
  #main .section.s5 h1 {
    font-size: 24px; }

  .section.s5 .award ul {
    width: 300px; }
  .section.s5 span {
    font-size: 14px; }

  /*实习经历*/
  .s4.section .internships {
    width: 70%;
    /*职位和工作时间*/
    /*工作内容*/ }
    .s4.section .internships .company-name {
      font-size: 20px; }
    .s4.section .internships h5 {
      font-size: 16px; }
    .s4.section .internships .work-pos-time {
      font-size: 16px; }
    .s4.section .internships .work-content dt {
      font-size: 16px; }
    .s4.section .internships .work-content dd {
      font-size: 14px; } }
@media screen and (max-width: 555px) {
  .section.s3 .experience-box {
    width: 80%; }
  .section.s3 .box {
    padding-top: 20px; }
  .section.s3 ul.experience-info {
    display: block;
    width: 100%;
    padding: 1% 0; }
    .section.s3 ul.experience-info li {
      margin: 1% auto; }
    .section.s3 ul.experience-info li:first-child {
      width: 50px;
      float: left; }
      .section.s3 ul.experience-info li:first-child i.experience-icon {
        height: 50px;
        background-size: 50px; }
    .section.s3 ul.experience-info li:nth-child(2) {
      float: left;
      line-height: 50px;
      padding-left: 20px; }
      .section.s3 ul.experience-info li:nth-child(2) a {
        font-size: 18px; }
    .section.s3 ul.experience-info li:nth-child(3) {
      clear: both;
      font-size: 14px;
      padding-left: 5px;
      padding-top: 5px; }

  /*教育背景*/
  .section.s5 .award ul {
    width: 280px; }
  .section.s5 .education
  h1 {
    padding-left: 80px; }
  .section.s5 ul {
    width: 200px; }
  .section.s5 span {
    font-size: 13px; } }
@media screen and (max-width: 480px) {
  /*头部导航栏*/
  header #menu {
    width: 332px; }
    header #menu li a {
      height: 30px;
      line-height: 30px;
      margin: 0 8px;
      font-size: 14px; }

  /*专业技能*/
  .s2 ul#skill-tip {
    width: 78%; }
    .s2 ul#skill-tip li {
      width: 100%;
      height: 15px;
      line-height: 15px;
      margin: 15px auto; }
      .s2 ul#skill-tip li span.skill-wrap {
        width: 70%;
        margin-left: 22px; }

  /*教育背景*/
  #main .section.s5 .box .tb-cell
  .bg-icon {
    width: 60px;
    background-size: 25px; }
  #main .section.s5 ul {
    margin: 3px auto; }
    #main .section.s5 ul li {
      display: block;
      margin: 3px auto; }
  #main .section.s5 h1 {
    font-size: 18px;
    font-weight: bold; }

  /*个人信息*/
  .section.s5 .box {
    padding-top: 30px; }
    .section.s5 .box div {
      margin: 5px auto;
      clear: both; }
  .section.s5 .award ul {
    width: 200px; }
  .section.s5 .education h1 {
    padding-left: 0; }
  .section.s5 .download-resume {
    padding-top: 40px; }
    .section.s5 .download-resume a {
      font-size: 20px; } }
@media screen and (max-width: 414px) {
  /*实习经历*/
  .s4.section .internships {
    width: 80%;
    /*职位和工作时间*/
    /*工作内容*/ }
    .s4.section .internships .company-name {
      font-size: 20px; }
    .s4.section .internships h5 {
      font-size: 16px; }
    .s4.section .internships .work-pos-time {
      font-size: 16px; }
    .s4.section .internships .work-content dt {
      font-size: 16px; }
    .s4.section .internships .work-content dd {
      font-size: 14px; } }
@media screen and (max-width: 375px) {
  /*头部*/
  header {
    top: 10px; }
    header #menu li a {
      height: 28px;
      line-height: 28px; }

  /*背景图标*/
  #main .box .tb-cell ul {
    margin: 2px auto; }
    #main .box .tb-cell ul li .bg-icon {
      width: 50px;
      background-size: 40%; }

  /*首页*/
  .s1 ul.contact {
    width: 220px;
    padding-left: 30px; }
  .s1 .my-photo {
    margin: 5px auto; }
    .s1 .my-photo img {
      width: 120px;
      height: 120px; }
  .s1 .home
  ul {
    font-size: 13px; }
    .s1 .home
    ul li {
      height: 25px;
      line-height: 25px; }

  #main .section h1 {
    font-size: 26px;
    margin: 5px auto; }
  #main .section h2 {
    font-size: 18px; }

  /*专业技能*/
  .s2 ul#skill-tip {
    width: 80%; }
    .s2 ul#skill-tip li {
      width: 100%; }
      .s2 ul#skill-tip li label.skill-name {
        font-size: 14px; }
      .s2 ul#skill-tip li span.skill-wrap {
        width: 65%;
        margin-left: 12px; }

  /*项目经验*/
  .section.s3 .experience-box {
    width: 80%; }
  .section.s3 .box {
    padding-top: 25px; }
  .section.s3 ul.experience-info {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0; }
    .section.s3 ul.experience-info li {
      margin: 1% auto; }
    .section.s3 ul.experience-info li:first-child {
      width: 30px;
      float: left; }
      .section.s3 ul.experience-info li:first-child i.experience-icon {
        height: 30px;
        background-size: 30px; }
    .section.s3 ul.experience-info li:nth-child(2) {
      float: left;
      line-height: 30px;
      padding-left: 20px; }
      .section.s3 ul.experience-info li:nth-child(2) a {
        font-size: 16px; }
    .section.s3 ul.experience-info li:nth-child(3) {
      clear: both;
      font-size: 12px;
      padding-left: 5px; }

  /*实习经历*/
  .s4.section .internships {
    width: 80%;
    /*职位和工作时间*/
    /*工作内容*/ }
    .s4.section .internships .company-name {
      font-size: 16px; }
    .s4.section .internships h5 {
      font-size: 14px; }
    .s4.section .internships .work-pos-time {
      font-size: 14px;
      margin: 8px 0 5px 0; }
    .s4.section .internships .work-content dt {
      font-size: 14px; }
    .s4.section .internships .work-content dd {
      font-size: 13px; } }
@media screen and (max-width: 345px) {
  #main .box .tb-cell ul {
    margin: 2px auto; }

  /*头部菜单栏*/
  header #menu {
    width: 302px; }
    header #menu li a {
      margin: 0 5px;
      font-size: 14px; }

  #main .section h1 {
    font-size: 24px; }

  /*首页*/
  .section.s1 .my-photo img {
    width: 100px;
    height: 100px; }

  /*专业技能*/
  .s2 ul#skill-tip li {
    height: 13px;
    line-height: 13px;
    margin: 10px auto; }

  /*项目经验*/
  .section.s3 ul.experience-info li {
    font-size: 12px; }
    .section.s3 ul.experience-info li:nth-child(2) a {
      font-size: 14px; }
    .section.s3 ul.experience-info li:nth-child(3) {
      padding-top: 0; }

  /*工作经历*/
  .s4.section .internships {
    width: 72%; }
    .s4.section .internships h3 {
      font-size: 20px; }
    .s4.section .internships h4 {
      font-size: 15px; }
    .s4.section .internships h5 {
      font-size: 14px; }
    .s4.section .internships p {
      font-size: 12px; }

  /*个人信息*/
  .section.s5 .download-resume {
    padding-top: 10px; }
    .section.s5 .download-resume a {
      font-size: 18px; } }
@media screen and (max-width: 300px) {
  #main .section {
    overflow: scroll;
    min-width: 300px; }

  /*头部菜单栏*/
  header #menu {
    width: 280px; }
    header #menu li a {
      margin: 0 4px;
      font-size: 12px; }

  /*首页*/
  /*背景图标*/
  #main .box .tb-cell ul {
    margin: 2px auto; }
    #main .box .tb-cell ul li .bg-icon {
      width: 40px;
      height: 20px; }

  .s1 ul.contact {
    width: 220px;
    padding-left: 40px; }
  .s1 .my-photo {
    margin: 5px auto; }
    .s1 .my-photo img {
      width: 100px;
      height: 100px; }
  .s1 .home ul {
    font-size: 12px; }
    .s1 .home ul li {
      height: 18px;
      line-height: 18px; }

  #main .section h1 {
    font-size: 20px; }
  #main .section h2 {
    font-size: 15px; }

  /*项目经验*/
  .section.s3 ul.experience-info li:first-child {
    width: 25px;
    float: left; }
    .section.s3 ul.experience-info li:first-child i.experience-icon {
      height: 25px;
      background-size: 25px; }
  .section.s3 ul.experience-info li:nth-child(2) {
    float: left;
    line-height: 25px;
    padding-left: 20px; }
    .section.s3 ul.experience-info li:nth-child(2) a {
      font-size: 13px; }
  .section.s3 ul.experience-info:nth-child(3) {
    padding-top: 0; }

  /*个人信息*/
  #main .section.s5 .box .tb-cell
  .bg-icon {
    width: 60px;
    background-size: 20px; }

  .section.s5 .download-resume {
    padding-top: 5px; }
    .section.s5 .download-resume a {
      font-size: 16px; }

  .s5 .education ul li, .s5 .award ul li {
    height: 25px;
    line-height: 25px; }

  #main .section.s5 h1 {
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
